<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>signIn</servlet-name>
        <servlet-class>WebTest.signIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUp</servlet-name>
        <servlet-class>WebTest.signUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userLogout</servlet-name>
        <servlet-class>WebTest.userLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addItem</servlet-name>
        <servlet-class>WebTest.addItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doneItem</servlet-name>
        <servlet-class>WebTest.doneItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteItem</servlet-name>
        <servlet-class>WebTest.deleteItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notdoneItem</servlet-name>
        <servlet-class>WebTest.notdoneItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signIn</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userLogout</servlet-name>
        <url-pattern>/userLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addItem</servlet-name>
        <url-pattern>/addItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doneItem</servlet-name>
        <url-pattern>/doneItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteItem</servlet-name>
        <url-pattern>/deleteItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notdoneItem</servlet-name>
        <url-pattern>/notdoneItem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
